{% extends "promise_tracker/layout.html" %}
{% load static %}

{% block body %}
<!-- <main> -->
    <!-- Main dashboard content-->
    <!-- <div class="container-xl p-5"> -->
        <div class="row justify-content-between align-items-center mb-5">
            <div class="col flex-shrink-0 mb-5 mb-md-0">
                <h1 class="display-4 mb-0">Dashboard</h1>
                <div class="text-muted">Track politician's promises in order to hold them accountable.</div>
            </div>
        </div>
        <!-- Colored status cards-->
        <div class="row gx-5">
            <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-primary text-white">
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="me-2">
                                <div class="display-5 text-white">{{promises_count}}</div>
                                <div class="card-text">Promises</div>
                            </div>
                            <div class="icon-circle bg-white-50 text-primary"><i class="material-icons">visibility_off</i></div>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-warning text-white">
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="me-2">
                                <div class="display-5 text-white">{{evidences_count}}</div>
                                <div class="card-text">Evidences</div>
                            </div>
                            <div class="icon-circle bg-white-50 text-warning"><i class="material-icons">balance</i></div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-secondary text-white">
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="me-2">
                                <div class="display-5 text-white">{{politicians_count}}</div>
                                <div class="card-text">Politicians</div>
                            </div>
                            <div class="icon-circle bg-white-50 text-secondary"><i class="material-icons">settings_accessibility</i></div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-info text-white">
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="me-2">
                                <div class="display-5 text-white">{{parties_count}}</div>
                                <div class="card-text">Parties</div>
                            </div>
                            <div class="icon-circle bg-white-50 text-info"><i class="material-icons">diversity_3</i></div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <!-- Revenue breakdown chart example-->
            <div class="col-lg-8 mb-5">
                <div class="card card-raised h-100">
                    <div class="card-header bg-primary text-white px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title text-white mb-0">Politicians</h2>
                                <div class="card-subtitle">Promises by politician</div>
                            </div>
                            <!-- <div class="d-flex gap-2 me-n2">
                                <button class="btn btn-lg btn-text-white btn-icon mdc-ripple-upgraded" type="button"><i class="material-icons">download</i></button>
                                <button class="btn btn-lg btn-text-white btn-icon mdc-ripple-upgraded" type="button"><i class="material-icons">print</i></button>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="row gx-4">
                            <div class="col-12 col-xxl-10">
                                <div class="d-flex flex-column flex-md-row flex-xxl-column align-items-center align-items-xl-start justify-content-between">
                                    <canvas id="dashboardBarChart" style="display: block; box-sizing: border-box; width: 559.328px; height: 279px;" width="559" height="279"></canvas>
                                </div>
                            </div>                          
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- Policitian pie chart example-->
            <div class="col-lg-4 mb-5">
                <div class="card card-raised h-100">
                    <div class="card-header bg-primary text-white px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title text-white mb-0">Parties</h2>
                                <div class="card-subtitle">Promises by parties</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                            <div class="w-100" style="max-width: 20rem">
                                <canvas id="myPieChart" style="display: block; box-sizing: border-box; width: 235.656px; height: 235px;" width="235" height="235"></canvas>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>     
        <div class="row gx-5">
            <div class="col-xl-6 mb-5">
                <div class="card card-raised h-100">
                    <div class="card-header bg-primary text-white px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title text-white mb-0">Politician Promises</h2>
                                <div class="card-subtitle">Status</div>                                
                            </div>                            
                            <div class="dropdown">
                                <button class="btn btn-lg btn-text-light btn-icon me-n2 dropdown-toggle mdc-ripple-upgraded" id="segmentsDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:2.78151; --mdc-ripple-fg-translate-start:12.0156px, 4px; --mdc-ripple-fg-translate-end:10px, 10px;"><i class="material-icons">more_vert</i></button>
                                <ul class="dropdown-menu" aria-labelledby="segmentsDropdownButton" >
                                    {% for politician in politicians %}
                                        {% if politician.promise_count >= 1 %}
                                            <li><a class="dropdown-item mdc-ripple-upgraded" data-id="{{politician.id}}" onclick="change_ratingp({{politician.id}})" href="#!">{{politician}}</a></li>     
                                        {% endif %}
                                    {% endfor %}                               
                                </ul>
                            </div>                                     
                        </div>                        
                    </div>
                    <div class="card-body p-4">
                        <div class="row gx-4">                                    
                            <div class="col-12 col-xxl-10"><canvas id="dashboardPiePolitician" style="display: block; box-sizing: border-box;"></canvas></div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent position-relative ripple-gray mdc-ripple-upgraded">
                        <!-- <img id="profile_pic" src="" style="width: 90px; height: 90px;" class="rounded-circle float-right" /> -->
                        <a id="politician_id" class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="#!">
                            <div class="fst-button" id="politician_name"></div>
                            <i class="material-icons icon-sm ms-1">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-5">
                <div class="card card-raised h-100">
                    <div class="card-header bg-primary text-white px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title text-white mb-0">Party Promises</h2>
                                <div class="card-subtitle">Promise status</div>                                
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-lg btn-text-light btn-icon me-n2 dropdown-toggle mdc-ripple-upgraded" id="segmentsDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:2.78151; --mdc-ripple-fg-translate-start:12.0156px, 4px; --mdc-ripple-fg-translate-end:10px, 10px;"><i class="material-icons">more_vert</i></button>
                                <ul class="dropdown-menu" aria-labelledby="segmentsDropdownButton" >
                                    {% for p in parties %}
                                    <li><a class="dropdown-item mdc-ripple-upgraded" data-id="{{p.id}}" onclick="change_rating({{p.id}})" href="#!">{{p.name}}</a></li>     
                                    {% endfor %}                               
                                </ul>
                            </div>                                                                                           
                        </div>                        
                    </div>
                    <div class="card-body p-4">
                        <div class="row gx-4">                                    
                            <div class="col-12 col-xxl-10"><canvas id="dashboardPieParty" style="display: block; box-sizing: border-box;"></canvas></div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent position-relative ripple-gray mdc-ripple-upgraded">
                        <!-- <img id="profile_pic" src="" style="width: 90px; height: 90px;" class="rounded-circle float-right" /> -->
                        <a class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="#!">
                            <div class="fst-button" id="party_name"></div>
                            <i class="material-icons icon-sm ms-1">chevron_right</i>
                        </a>
                    </div>
                </div>                
            </div>
        </div>                
{% endblock %}