{% extends "promise_tracker/layout.html" %}
{% load static %}

{% block body %}
<!-- <main> -->
    <!-- Main dashboard content-->
    <!-- <div class="container-xl p-5"> -->
        <div class="row justify-content-between align-items-center mb-5">
            <div class="col flex-shrink-0 mb-5 mb-md-0">
                <h1 class="display-4 mb-0">Dashboard</h1>
                <div class="text-muted">Sales overview &amp; summary</div>
            </div>
            <div class="col-12 col-md-auto">
                <div class="d-flex flex-column flex-sm-row gap-3">
                    <mwc-select class="mw-50 mb-2 mb-md-0" outlined="" label="View by">
                        <mwc-list-item selected="" value="0" mwc-list-item="" tabindex="0" aria-disabled="false" role="option" aria-selected="true">Order type</mwc-list-item>
                        <mwc-list-item value="1" mwc-list-item="" tabindex="-1" aria-disabled="false" role="option">Segment</mwc-list-item>
                        <mwc-list-item value="2" mwc-list-item="" tabindex="-1" aria-disabled="false" role="option">Customer</mwc-list-item>
                    </mwc-select>
                    <mwc-select class="mw-50" outlined="" label="Sales from">
                        <mwc-list-item value="0" mwc-list-item="" tabindex="0" aria-disabled="false" role="option">Last 7 days</mwc-list-item>
                        <mwc-list-item value="1" mwc-list-item="" tabindex="-1" aria-disabled="false" role="option">Last 30 days</mwc-list-item>
                        <mwc-list-item value="2" mwc-list-item="" tabindex="-1" aria-disabled="false" role="option">Last month</mwc-list-item>
                        <mwc-list-item selected="" value="3" mwc-list-item="" tabindex="-1" aria-disabled="false" role="option" aria-selected="true">Last year</mwc-list-item>
                    </mwc-select>
                </div>
            </div>
        </div>
        <!-- Colored status cards-->
        <div class="row gx-5">
            <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-primary text-white">
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="me-2">
                                <div class="display-5 text-white">101.1K</div>
                                <div class="card-text">Promises</div>
                            </div>
                            <div class="icon-circle bg-white-50 text-primary"><i class="material-icons">download</i></div>
                        </div>
                        <div class="card-text">
                            <div class="d-inline-flex align-items-center">
                                <i class="material-icons icon-xs">arrow_upward</i>
                                <div class="caption fw-500 me-2">3%</div>
                                <div class="caption">from last month</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-warning text-white">
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="me-2">
                                <div class="display-5 text-white">12.2K</div>
                                <div class="card-text">Evidences</div>
                            </div>
                            <div class="icon-circle bg-white-50 text-warning"><i class="material-icons">storefront</i></div>
                        </div>
                        <div class="card-text">
                            <div class="d-inline-flex align-items-center">
                                <i class="material-icons icon-xs">arrow_upward</i>
                                <div class="caption fw-500 me-2">3%</div>
                                <div class="caption">from last month</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-secondary text-white">
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="me-2">
                                <div class="display-5 text-white">5.3K</div>
                                <div class="card-text">Politicians</div>
                            </div>
                            <div class="icon-circle bg-white-50 text-secondary"><i class="material-icons">people</i></div>
                        </div>
                        <div class="card-text">
                            <div class="d-inline-flex align-items-center">
                                <i class="material-icons icon-xs">arrow_upward</i>
                                <div class="caption fw-500 me-2">3%</div>
                                <div class="caption">from last month</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-info text-white">
                    <div class="card-body px-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="me-2">
                                <div class="display-5 text-white">7</div>
                                <div class="card-text">Parties</div>
                            </div>
                            <div class="icon-circle bg-white-50 text-info"><i class="material-icons">devices</i></div>
                        </div>
                        <div class="card-text">
                            <div class="d-inline-flex align-items-center">
                                <i class="material-icons icon-xs">arrow_upward</i>
                                <div class="caption fw-500 me-2">3%</div>
                                <div class="caption">from last month</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <!-- Revenue breakdown chart example-->
            <div class="col-lg-8 mb-5">
                <div class="card card-raised h-100">
                    <div class="card-header bg-primary text-white px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title text-white mb-0">Revenue Breakdown</h2>
                                <div class="card-subtitle">Compared to previous year</div>
                            </div>
                            <div class="d-flex gap-2 me-n2">
                                <button class="btn btn-lg btn-text-white btn-icon mdc-ripple-upgraded" type="button"><i class="material-icons">download</i></button>
                                <button class="btn btn-lg btn-text-white btn-icon mdc-ripple-upgraded" type="button"><i class="material-icons">print</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="row gx-4">
                            <div class="col-12 col-xxl-2">
                                <div class="d-flex flex-column flex-md-row flex-xxl-column align-items-center align-items-xl-start justify-content-between">
                                    <canvas id="dashboardBarChart"></canvas>
                                </div>
                            </div>
                            <div class="col-12 col-xxl-10">
                                <script>                                     
                                    var myChart = new Chart(
                                        document.getElementById('dashboardBarChart'),
                                         {
                                        type: 'bar',
                                        data: {
                                            labels: [{% for politician in politicians %}  '{{ politician }}',  {% endfor %}],
                                            datasets: [{
                                                label: '# of Promises',
                                                data: [{% for politician in politicians %}  {{ politician.promise_count }},  {% endfor %}],                                                
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                    </script>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent position-relative ripple-gray mdc-ripple-upgraded">
                        <a class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="#!">
                            <div class="fst-button">Open Report</div>
                            <i class="material-icons icon-sm ms-1">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Segments pie chart example-->
            <div class="col-lg-4 mb-5">
                <div class="card card-raised h-100">
                    <div class="card-header bg-primary text-white px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title text-white mb-0">Segments</h2>
                                <div class="card-subtitle">Revenue sources</div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-lg btn-text-light btn-icon me-n2 dropdown-toggle mdc-ripple-upgraded" id="segmentsDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></button>
                                <ul class="dropdown-menu" aria-labelledby="segmentsDropdownButton">
                                    <li><a class="dropdown-item mdc-ripple-upgraded" href="#!">Action</a></li>
                                    <li><a class="dropdown-item mdc-ripple-upgraded" href="#!">Another action</a></li>
                                    <li><a class="dropdown-item mdc-ripple-upgraded" href="#!">Something else here</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item mdc-ripple-upgraded" href="#!">Separated link</a></li>
                                    <li><a class="dropdown-item mdc-ripple-upgraded" href="#!">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                            <div class="w-100" style="max-width: 20rem"><canvas id="myPieChart" style="display: block; box-sizing: border-box; width: 235.656px; height: 235px;" width="235" height="235"></canvas></div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent position-relative ripple-gray mdc-ripple-upgraded">
                        <a class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="#!">
                            <div class="fst-button">Open Report</div>
                            <i class="material-icons icon-sm ms-1">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <!-- Privacy suggestions illustrated card-->
            <div class="col-xl-6 mb-5">
                <div class="card card-raised h-100">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between">
                            <div class="me-4">
                                <h2 class="card-title mb-0">Privacy Suggestions</h2>
                                <p class="card-text">Take our privacy checkup to choose which settings are right for you.</p>
                            </div>
                            <img src="assets/img/illustrations/security.svg" alt="..." style="height: 6rem">
                        </div>
                    </div>
                    <div class="card-footer bg-transparent position-relative ripple-gray px-4 mdc-ripple-upgraded"><a class="stretched-link text-decoration-none" href="#!">Review suggestions (4)</a></div>
                </div>
            </div>
            <!-- Account storage illustrated card-->
            <div class="col-xl-6 mb-5">
                <div class="card card-raised h-100">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between">
                            <div class="me-4">
                                <h2 class="card-title mb-0">Account Storage</h2>
                                <p class="card-text">Your account storage is shared across all devices.</p>
                                <div class="progress mb-2" style="height: 0.25rem"><div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="30"></div></div>
                                <div class="card-text">10 GB of 30 GB used</div>
                            </div>
                            <img src="assets/img/illustrations/cloud.svg" alt="..." style="height: 6rem">
                        </div>
                    </div>
                    <div class="card-footer bg-transparent position-relative ripple-gray px-4 mdc-ripple-upgraded"><a class="stretched-link text-decoration-none" href="#!">Manage storage</a></div>
                </div>
            </div>
        </div>
        <div class="card card-raised">
            <div class="card-header bg-primary text-white px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h2 class="card-title text-white mb-0">Orders</h2>
                        <div class="card-subtitle">Details and history</div>
                    </div>
                    <div class="d-flex gap-2">
                        <button class="btn btn-lg btn-text-white btn-icon mdc-ripple-upgraded" type="button"><i class="material-icons">download</i></button>
                        <button class="btn btn-lg btn-text-white btn-icon mdc-ripple-upgraded" type="button"><i class="material-icons">print</i></button>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <!-- Simple DataTables example-->
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"><div class="dataTable-top"><div class="dataTable-dropdown"><label><select class="dataTable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page</label></div><div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div></div><div class="dataTable-container"><table id="datatablesSimple" class="dataTable-table">
                    <thead>
                        <tr><th data-sortable="" style="width: 26.644%;"><a href="#" class="dataTable-sorter">Name</a></th><th data-sortable="" style="width: 11.1111%;"><a href="#" class="dataTable-sorter">Ext.</a></th><th data-sortable="" style="width: 25.3968%;"><a href="#" class="dataTable-sorter">City</a></th><th data-type="date" data-format="YYYY/MM/DD" data-sortable="" style="width: 18.5941%;"><a href="#" class="dataTable-sorter">Start Date</a></th><th data-sortable="" style="width: 18.254%;"><a href="#" class="dataTable-sorter">Completion</a></th></tr>
                    </thead>
                    <tbody><tr><td>Unity Pugh</td><td>9958</td><td>Curicó</td><td>2005/02/11</td><td>37%</td></tr><tr><td>Theodore Duran</td><td>8971</td><td>Dhanbad</td><td>1999/04/07</td><td>97%</td></tr><tr><td>Kylie Bishop</td><td>3147</td><td>Norman</td><td>2005/09/08</td><td>63%</td></tr><tr><td>Willow Gilliam</td><td>3497</td><td>Amqui</td><td>2009/29/11</td><td>30%</td></tr><tr><td>Blossom Dickerson</td><td>5018</td><td>Kempten</td><td>2006/11/09</td><td>17%</td></tr><tr><td>Elliott Snyder</td><td>3925</td><td>Enines</td><td>2006/03/08</td><td>57%</td></tr><tr><td>Castor Pugh</td><td>9488</td><td>Neath</td><td>2014/23/12</td><td>93%</td></tr><tr><td>Pearl Carlson</td><td>6231</td><td>Cobourg</td><td>2014/31/08</td><td>100%</td></tr><tr><td>Deirdre Bridges</td><td>1579</td><td>Eberswalde-Finow</td><td>2014/26/08</td><td>44%</td></tr><tr><td>Daniel Baldwin</td><td>6095</td><td>Moircy</td><td>2000/11/01</td><td>33%</td></tr></tbody>
                </table></div><div class="dataTable-bottom"><div class="dataTable-info">Showing 1 to 10 of 100 entries</div><nav class="dataTable-pagination"><ul class="dataTable-pagination-list"><li class="active"><a href="#" data-page="1">1</a></li><li class=""><a href="#" data-page="2">2</a></li><li class=""><a href="#" data-page="3">3</a></li><li class=""><a href="#" data-page="4">4</a></li><li class=""><a href="#" data-page="5">5</a></li><li class=""><a href="#" data-page="6">6</a></li><li class=""><a href="#" data-page="7">7</a></li><li class="ellipsis"><a href="#">…</a></li><li class=""><a href="#" data-page="10">10</a></li><li class="pager"><a href="#" data-page="2">›</a></li></ul></nav></div></div>
            </div>
        </div>
        
    <!-- </div>
</main> -->
{% endblock %}