{% extends "promise_tracker/layout.html" %}
{% load static %}

{% block body %}
<div class="container mt-5" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">Politician Details</h1>
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-5" style="width: 50%">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% if politician.get_fields|length > 1 %}
                    {% for label, value in politician.get_fields  %}
                        <tr>
                            <td>{{label | upper}}</td>
                            <td>{{value}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td>Name</td>
                    <td>{{politician}}</td>
                    <img src="{{party.logo}}" />
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'politicians' %}" class="d-block btn btn-primary btn-lg my-5">BACK</a>
        </div>
    </div>
        
</div>

{% endblock  %}
