{% extends "promise_tracker/layout.html" %}
{% load static %}

{% block body %}
    <h1>Politicians </h1>
    <ul>
    {% for politician in politician_list %}
                <li>
                    <span>{{ politician }}</span>
                    <a href="{% url 'politician_detail' politician.id %} ">View</a>
                    <a href="{% url 'politician_update' politician.id %} ">Update</a>
                    <a href="{% url 'politician_delete' politician.id %}">Delete</a>
                </li>
    {% endfor %}    
    </ul>
    <div class="container">                
        {% include "promise_tracker/paginator.html" %}                                      
    </div>
{% endblock %}