{% extends "promise_tracker/layout.html" %}
{% load static %}

{% block body %}
<div class="card card-raised">
    <div class="card-header bg-primary text-white px-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-4">
                <h2 class="card-title text-white mb-0">Promises</h2>
                <div class="card-subtitle">The lies to get into power</div>
            </div>            
        </div>
    </div>
    <div class="card-body p-4">
        <!-- Simple DataTables example-->   
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-container">
            <table id="datatablesSimple">
            <thead>
                <tr>
                    {% for promise in promise_list.get_all_fields %}
                        <th>{{promise.label}}</th>
                    {% endfor %}
                    <th>Name</th>
                    <th>Ext.</th>
                    <th>City</th>
                    <th>Start Date</th>
                    <th>Completion</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Unity Pugh</td>
                    <td>9958</td>
                    <td>Curicó</td>
                    <td>2005/02/11</td>
                    <td>37%</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
</div>
    <h1>Promises </h1>
    <ul>
    {% for promise in promise_list %}
                <li>
                    <span>{{ promise }}</span>
                    <a href="{% url 'promise_detail' promise.id %} ">View</a>
                    <a href="{% url 'promise_update' promise.id %} ">Update</a>
                    <a href="{% url 'promise_delete' promise.id %}">Delete</a>
                </li>
    {% endfor %}    
    </ul>
    <div class="container">                
        {% include "promise_tracker/paginator.html" %}                                      
    </div>
{% endblock %}