{% extends "promise_tracker/layout.html" %}
{% load static %}

{% block body %}
<div class="card card-raised">
    <div class="card-header bg-primary text-white px-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-4">
                <h2 class="card-title text-white mb-0">Promise </h2>
                <div class="card-subtitle">The lies to get into power</div>
            </div>            
        </div>
    </div>
    <div class="row gx-5">         
        <div class="col-xl-12">
            <!-- Politician details card-->
            <div class="card card-raised mb-5">
                <div class="card-body p-5">                    
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-4"><mwc-textfield readonly=""  class="w-100" label="Tittle" outlined="" value="{{promise.title}}"></mwc-textfield></div>
                        <div class="row mb-4"><mwc-textarea readonly=""  class="w-100" label="Description" outlined="" value="{{promise.description}}"></mwc-textarea></div>
                        <!-- Form Row-->
                        <div class="row mb-4">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6"><mwc-textfield readonly="" class="w-100" label="KPI" outlined="" value="{{promise.start_kpi}}"></mwc-textfield></div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6"><mwc-textfield readonly="" class="w-100" label="Status" outlined="" value="{{promise.rating}}"></mwc-textfield></div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row mb-4">
                            <!-- Form Group (party name)-->
                            <div class="col-md-6"><mwc-textfield readonly="" class="w-100" label="Politician" outlined="" value="{{promise.politician}}"></mwc-textfield></div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6"><mwc-textfield readonly="" class="w-100" label="Creation date" outlined="" value="{{promise.date}}"></mwc-textfield></div>
                        </div>
                        <!-- Form Group (email address)-->                                                
                        <!-- Save changes button-->

                        <div class="text-end"><a href="{% url 'promises' %}" class="d-block btn btn-primary btn-lg my-5">BACK</a></div>
                    </form>
                </div>
                {% if evidences %} 
                <div class="card-body p-4">
                    <div class="card-title">Evidences</div>
                    <!-- Simple DataTables example-->   
                    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                        <div class="dataTable-container">
                        <table id="datatablesSimple">
                        <thead>
                            <tr>                    
                                <th>title</th>
                                <th>KPI</th>                                                                
                                <th>creator</th>
                                <th>date</th>
                                <th>status</th>                          
                            </tr>
                        </thead>
                        <tbody>
                            {% for evidence in evidences %}                                  
                            <tr>                    
                                <td>{{evidence.title}}</td>                                
                                <td>{{evidence.kpi}}</td>                                
                                <td>{{evidence.creator}}</td>
                                <td>{{evidence.date}}</td>
                                <td>{{evidence.status}}</td>                                                  
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                </div>  
                {% endif %}             
            </div>       
        </div>
    </div>          
</div>

{% endblock  %}
