{% extends "promise_tracker/layout.html" %}
{% load static %}

{% block body %}
<div class="card card-raised">
    <div class="card-header bg-primary text-white px-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-4">
                <h2 class="card-title text-white mb-0">New promise </h2>
                <div class="card-subtitle">The lies to get into power</div>
            </div>            
        </div>
    </div>
    <div class="card-body p-4">
        <!-- Simple DataTables example-->
        <div class="form-group" id="promise">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_div }}    
                    <hr>
                    {{ formset.as_div }}        
                    <input type="submit" class="btn btn-lg btn-primary" value="Save">
                </div>
            </form>
            <div class="container">                
                {% include "promise_tracker/paginator.html" %}                                      
            </div>
        </div>
    </div>
</div>    
    <div class="container">                
        {% include "promise_tracker/paginator.html" %}                                      
    </div>
{% endblock %}