{% extends "promise_tracker/layout.html" %}
{% load static %}

{% block body %}
<div class="card card-raised">
    <div class="card-header bg-primary text-white px-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-4">
                <h2 class="card-title text-white mb-0">Promises</h2>
                <div class="card-subtitle">The lies to get into power</div>
            </div>            
        </div>
    </div>
    <div class="card-body p-4">
        <!-- Simple DataTables example-->   
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-container">
            <table id="datatablesSimple">
            <thead>
                <tr>                    
                    <th>title</th>
                    <th>rating</th>
                    <th>politician</th>
                    <th>creator</th>
                    <th>date</th>
                    <th>status</th>
                    <th>View</th>
                    {% if user.is_authenticated and user.id == promise.creator.id or user.is_superuser %}
                    <th>Update</th>
                    <th>Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for promise in promise_list %}                                  
                <tr>                    
                    <td>{{promise.title}}</td>
                    <td>{{promise.rating}}</td>
                    <td>{{promise.politician}}</td>
                    <td>{{promise.creator}}</td>
                    <td>{{promise.date}}</td>
                    <td>{{promise.status}}</td>
                    <td> <a href="{% url 'promise_detail' promise.id %} ">View</a></td>
                    {% if user.is_authenticated and user.id == promise.creator.id or user.is_superuser %}
                    <td><a href="{% url 'promise_update' promise.id %} ">Update</a></td>
                    <td><a href="{% url 'promise_delete' promise.id %}">Delete</a></td>
                    {% endif %}                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>
</div>    
{% endblock %}